.card.border-0
  .card-body
    .text-dark.card-title
      %span= link_to comment.user.name, comment.user, class: "text-dark"

    = form_with model: comment do |f|
      = f.hidden_field :commentable_type
      = f.hidden_field :commentable_id
      - if comment.parent.present?
        parent
      .form-group
        = f.text_area :body, class: "form-control"
      .form-group.mb-0
        = f.submit class: "btn btn-secondary"
