- if article.crawling_status == 'not_yet'
  .media.bg-dark.mb-2.p-2.text-white.align-items-center
    .spinner-grow.text-light
    = article.url

- else
  .infinite-scroll-item
    .d-flex.justify-content-between.bg-white.mb-2.p-2
      - if article.image.attached?
        = link_to article.url do
          = image_tag article.image, class: "mr-3", style: "width: 5em"
      .flex-grow-1
        = link_to article.url, class: "text-dark" do
          %h5.mt-1.mb-0
            %strong= article.title || article.url
            %small.text-muted= article.site_name

        .text-muted
          %small= article.desc

      .d-flex.align-items-center
        = render "votes/btn", votable: article

        = link_to article, class: "btn btn-outline-primary btn-sm" do
          %i.far.fa-comment
          = article.comments_count
