%section.py-5
  .container
    .d-flex.justify-content-between.align-items-center.pb-3
      %h2
        %strong.font-weight-bold
          주간 인기글:
        %span.font-weight-light
          = @start_date
          \~
          = @end_date


    %section.pb-5
      %h3.font-weight-bold 베스트
      = render partial: 'articles/best_article', collection: @best_articles, as: :article

    %section.pb-5
      %h3.font-weight-bold 목록
      .articles
        = render @articles.offset(5)

%div{ style: 'position: fixed; right: 1em; bottom: 5em; ' }
  = link_to '#', data: { toggle: "modal", target: "#new-article-modal" }, class: 'btn btn-primary rounded-circle' do
    %i.fas.fa-plus
