%h2.pb-2
  = t('title.main')
  - if params[:q].present?
    = "'#{params[:q]}'"

%section
  .row.row-cols-1.row-cols-sm-2.row-cols-md-4
    - @articles.each do |article|
      .col.mb-4
        = render article

  .d-flex.justify-content-center
    = paginate @articles
