%h3.pb-2
  = t('title.main')
  - if params[:q].present?
    = "'#{params[:q]}'"

%section
  .card-columns
    - @articles.each do |article|
      = render article

  .d-flex.justify-content-center
    = paginate @articles
