%section.py-5
  .container
    = render @article

    .py-4
      = link_to @article.url, target: "_blank", class: "btn btn-outline-secondary btn-block" do
        게시글 읽기

      .pt-3.d-flex.justify-content-end
        - if @article.user == current_user
          .article-actions
            = link_to t("link.edit"), [:edit, @article]
            = link_to t("link.destroy"), @article, method: :delete, data: { confirm: '삭제하시겠습니까?' }, class: 'ml-2'

    %section
      %h3 의견
      #comments.bg-white.py-4
        = render @comments
        = render "comments/form", comment: @new_comment if user_signed_in?

%section.py-5
  .container
    %h3= t('title.recent_articles')
    = render Article.recent.limit(5)
