%section.py-5
  .container
    .card.border-0.mb-4
      .card-body
        .d-sm-flex.justify-content-between
          .article-title
            %h3.font-weight-bold.card-title= @article.title || @article.url
            %h6.card-subtitle.text-muted.my-2= @article.site_name
            %h6.card-subtitle.my-2
              - @article.tags.each do |tag|
                = link_to "##{tag}", tag_path(tag)

        %p.my-2.text-muted= @article.desc

        .py-4
          = link_to @article.url, target: "_blank", class: "btn btn-outline-secondary btn-block" do
            %i.fas.fa-external-link
            게시글 읽기
        .py-4
          .d-flex.justify-content-between
            .article-vote-btn.my-3.my-sm-0
              = render "votes/btn", votable: @article

            .article-actions
              = link_to t("link.edit"), [:edit, @article]
              - if @article.user == current_user
                = link_to t("link.destroy"), @article, method: :delete, data: { confirm: '삭제하시겠습니까?' }, class: 'ml-2'

    %section#comments.bg-white.my-4
      = render @comments
      = render "comments/form", comment: @new_comment if user_signed_in?

%section.py-5
  .container
    %h3= t('title.recent_articles')
    - Article.recent.limit(5).each do |article|
      .mb-4
        = render article
