.container
  .row
    .col-md-9
      .card.border-0.mb-4
        - if @article.image.attached?
          = image_tag @article.image, class: "card-img-top"

        .card-body
          %h3.card-title= @article.title || @article.url
          %h6.card-subtitle= @article.site_name

          .py-4
            = link_to "게시글 읽기", @article.url, target: "_blank", class: "btn btn-outline-primary btn-block"

          - if @article.user == current_user
            .text-right
              = link_to t("link.edit"), [:edit, @article]
              = link_to t("link.destroy"), @article, method: :delete, data: { confirm: '삭제하시겠습니까?' }

      %section#comments
        = render @article.comments

    .col-md-3
      %h5.text-muted= t('title.recent_articles')
      - Article.recent.limit(5).each do |article|
        .mb-4
          = render article