%section.py-5
  .container
    .card.border-0.mb-4
      .card-body
        .d-sm-flex.justify-content-between
          .article-title
            %h3.font-weight-bold.card-title= @article.title || @article.url
            %h6.card-subtitle.text-muted= @article.site_name
          .article-vote-btn.my-3.my-sm-0
            = render "votes/btn", votable: @article

        %p.my-2.text-muted= @article.desc

        .py-4
          = link_to @article.url, target: "_blank", class: "btn btn-outline-secondary btn-block" do
            %i.fas.fa-external-link
            게시글 읽기

        - if @article.user == current_user
          .text-right
            = link_to t("link.edit"), [:edit, @article]
            = link_to t("link.destroy"), @article, method: :delete, data: { confirm: '삭제하시겠습니까?' }

    %section#comments.bg-white.my-4
      = render @comments
      = render "comments/form", comment: @new_comment if user_signed_in?

%section.py-5
  .container
    %h3= t('title.recent_articles')
    - Article.recent.limit(5).each do |article|
      .mb-4
        = render article