%section.py-5
  .container
    .d-flex.justify-content-between.align-items-center.pb-3
      %h2
        %strong.font-weight-bold
          #{@user.name}
        님이 추천하거나 공감한 글

    %section
      %h3
        - if params[:order].nil?
          %strong 인기글
          %span.mx-2 &middot;
          = link_to '최신글', user_path(@user, order: 'recent'), class: 'text-muted'
        - else
          = link_to '인기글', user_path(@user), class: 'text-muted'
          %span.mx-2 &middot;
          %strong 최신글
      .articles.infinite-scroll
        = render @articles
      .invisible= paginate @articles
