= render partial: 'tag_list'

%section.py-5
  .container
    .pb-2
      .d-flex.justify-content-center
        %h2.font-weight-bold
          \##{@tag.name}
          %small (#{@tag.taggings_count})

    %section
      %h3
        - if params[:order].nil?
          %strong 인기글
          %span.mx-2 &middot;
          = link_to '최신글', tag_path(@tag, order: 'recent'), class: 'text-muted'
        - else
          = link_to '인기글', tag_path(@tag), class: 'text-muted'
          %span.mx-2 &middot;
          %strong 최신글
      .articles.infinite-scroll
        = render @articles
      .invisible= paginate @articles
