%section.py-5
  .container
    .pb-2
      .d-sm-flex.justify-content-end
        - if user_signed_in?
          .text-right
            = link_to t("link.edit"), [:edit, @wiki]
            = link_to t("link.destroy"), @wiki, method: :delete, data: { confirm: '삭제하시겠습니까?' }

    .card.border-0.mb-4
      .card-body
        %h3.font-weight-bold.card-title= @wiki.title

        .my-2
          = raw @wiki.body

        %p.m-0
          %small.text-muted
            최종수정
            = @wiki.updated_at.to_date

%section.py-5
  .container
    %h3= t('title.recent_wikis')
    - Wiki.recent.limit(5).each do |wiki|
      .mb-2
        = render wiki