%header
  %nav.navbar.fixed-top.navbar-dark.bg-dark.justify-content-start
    %button.navbar-toggler.p-0.border-0.mr-2{"data-toggle" => "offcanvas", :type => "button"}
      %span.navbar-toggler-icon

    .navbar-collapse.offcanvas-collapse
      %ul.navbar-nav

        %li.nav-item.mt-4
          %small.text-light
            %i.far.fa-newspaper
        %li.nav-item= link_to t("menu.articles"), articles_path, class: "nav-link"
        - if user_signed_in?
          %li.nav-item= link_to t("menu.my_articles"), current_user, class: "nav-link"

        %li.nav-item.mt-4
          %small.text-light
            %i.far.fa-user
        - if user_signed_in?
          %li.nav-item
            .nav-link
              #{current_user.name} (#{current_user.email})
          %li.nav-item= link_to t("link.sign_out"), destroy_user_session_path, method: :delete, class: "nav-link"
        - else
          %li.nav-item= link_to t("link.sign_in"), new_user_session_path, class: "nav-link"

    .mr-auto
      = link_to t("site_name"), root_path, class: "navbar-brand"

    = form_with url: articles_path, method: :get, local: true, class: "form-inline" do |f|
      = f.text_field :q, value: params[:q], placeholder: "검색", class: "form-control form-control-sm"
