#new-article-modal.modal.fade{role: "dialog"}
  .modal-dialog{ role: "document" }
    .modal-content
      .modal-header
        %h5.modal-title= t('link.new')
        %button.close{type: "button", data: { dismiss: "modal"}}
          &times;
      .modal-body
        %ul.msgs.list-unstyled
        = form_with model: Article.new do |f|
          .form-group
            = f.label :url
            = f.text_field :url, class: "form-control"
            .text-muted.form-text http://나 https://로 시작하는 주소를 넣어주세요.
          .form-group
            = f.submit data: { disable_with: "Please wait..."}, class: 'btn btn-primary'