- if user_signed_in? && current_user.voted_for?(votable)
  = link_to '#', class: "btn btn-primary btn-sm text-nowrap mr-1" do
    %i.fa.fa-thumbs-up
    %strong= votable.votes_for.size
- else
  - path = user_signed_in? ? vote_article_path(votable) : '#'
  = link_to path, method: :put, remote: true, class: "#{dom_id(votable)}_vote_btn btn btn-outline-primary btn-sm text-nowrap mr-1" do
    %i.fa.fa-thumbs-up
    %strong= votable.votes_for.size

%small.text-muted.ml-1
  = votable.votes_for.collect {|vote| vote.voter.name }.join(', ')
  님이 추천합니다
