!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{:charset => "utf-8"}
    %meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}
    %title= t("site_name")
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %script{crossorigin: "anonymous", src: "https://kit.fontawesome.com/d1995cff7d.js"}
    %script{src:"https://unpkg.com/infinite-scroll@3/dist/infinite-scroll.pkgd.min.js"}
  %body.bg-light
    = render "header"

    %main= yield

    = render "modals"

    %footer.my-5.pt-5.text-muted.text-center.text-small.border-top
      %p.mb-1
        = link_to '사회적협동조합 빠띠, 더 민주적인 세상을 만듭니다', 'https://parti.coop', target: :blank, class: "text-dark"
      %ul.list-inline
        %li.list-inline-item
          = link_to "문의", "https://democracy-activists.parti.xyz/p/data_activists", target: "_blank", class: "text-dark"
        %li.list-inline-item
          %a.text-dark{:href => "#"} 이용약관
        %li.list-inline-item
          %a.text-dark{:href => "#"} 개인정보취급방침
